<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/basic">
    <th:block layout:fragment="title">
        <title>리스트 페이지</title>
    </th:block>

    <th:block layout:fragment="search">
        <form id="searchForm" class="searchform js__toggle active pull-right" onsubmit="return false;" autocomplete="off">
            <input type="search" class="input-search" placeholder="Search..." />
            <button type="button" class="mdi mdi-magnify button-search"><i class="fa fa-search" aria-hidden="true"></i></button>
        </form>
    </th:block>

    <th:block layout:fragment="content">
        <div class="table-responsive clearfix">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>번호</th>
                        <th>제목</th>
                        <th>작성자</th>
                        <th>등록일</th>
                        <th>조회 수</th>
                    </tr>
                </thead>
				<tbody id="list">
				</tbody>
            </table>

            <div class="btn_wrap text-right">
                <a th:href="@{/post/write.do}" class="btn btn-primary waves-effect waves-light">등록</a>
            </div>

            <th:block layout:fragment="paging">
                <nav aria-label="Page navigation" class="text-center">
                    <ul class="pagination">
                        
                    </ul>
                </nav>
            </th:block>
        </div>
    </th:block>
</html>